.friends__section .friends__section-header{
  border-top:1px solid #ebebeb;
  border-bottom:1px solid #ebebeb;
  padding:10px 15px;
  font-size:12px;
  color:#b4b4b4;
}

.friends__section-rows .friends__section-row{
  padding:10px 15px;
  display:flex;
  align-items: center;
  font-size:14px;
}


.friends__section-row.with-tagLine{
  justify-content: space-between;
}
/* class 값이 여러개인 요소를 선택하려면 그 값을 이어서 써준다.*/

.friends__section-tagline{
  font-size:12px;
  background:#f0f0f0;
  padding:10px 10px;
  border-radius:5px;
  color:#939393;
}

.friends__section-row img{
  width:40px;
  border-radius: 50px;
  margin-right:15px;
  animation:1s rotateFriend infinite ease-in-out;
}

@keyframes rotateFriend{
  0%{
    transform: rotateY(0deg);
  }
  50%{
    transform: rotateY(180deg) scale(0.5);
  }
  100%{
    transform: rotateY(360deg);
  }
}

.friends__section-row a{
  text-decoration:none;
  color:inherit;
}

.friends__section-column{
  display:flex;
  align-items:center;

}

/* CSS section 적용 범위 class가 같은데도 다르게 적용?? */